name: Build and deploy Python app to Azure Web App - ub-api

on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'   # samma som i Web App

      - name: Install dependencies
        working-directory: ./api
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Zip backend app
        working-directory: ./api
        run: |
          zip -r ../api.zip .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_610EF0DF0B58498CAA47C3AA42FCD522 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7E00FB3BB147469A97AAD0FF17705AFF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FECA52DB2007499C94DBE00F96355274 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ub-api'
          slot-name: 'Production'
          package: 'api.zip'